html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #6a727f;
  max-width: 1920px;
  margin: 0 auto;
}

input,
button,
textarea,
select {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

section[id] {
  scroll-margin-top: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.second-font {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4 {
  color: #393e46;
}

a {
  list-style: none;
}

.heading {
  font-size: 36px;
  line-height: 1.55556;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}

.title {
  font-size: 22px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  line-height: 1.59091;
  margin-bottom: 20px;
  color: #393e46;
  display: block;
}

.text {
  font-size: 18px;
  line-height: 1.88889;
}

.text--small {
  font-size: 14px;
}

.item {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.item:hover {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 10px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 10px;
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 25px;
  }
  .title {
    font-size: 20px;
  }
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: "Open sans", sans-serif;
  height: 55px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 6px;
  background-color: transparent;
}

.btn--primary {
  background-color: #4944f2;
}

.btn--secondary {
  background-image: -webkit-gradient(linear, left top, right top, from(#f475a0), to(#feac3d));
  background-image: -o-linear-gradient(left, #f475a0, #feac3d);
  background-image: linear-gradient(to right, #f475a0, #feac3d);
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  padding: 40px 0;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -ms-flex-wrap: none;
      flex-wrap: none;
  gap: 0 60px;
}

.header-navigation i {
  font-size: 25px;
  cursor: pointer;
}

.header-phone {
  color: #393e46;
  font-weight: 300;
}

.header-phone a {
  color: inherit;
  font-weight: 600;
  margin-left: 15px;
}

.hero {
  position: relative;
  margin-bottom: 200px;
}

.hero-image {
  margin-left: auto;
  width: 70%;
}

.hero-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-caption {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-heading {
  font-size: 150px;
  font-weight: 800;
  margin-bottom: 40px;
}

.hero-link {
  font-size: 18px;
  text-decoration: underline;
  color: #6a727f;
  font-weight: 600;
  display: inline-block;
}

.portfolio {
  margin-bottom: 200px;
}

.portfolio-container {
  max-width: 1240px;
}

.portfolio-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 50px;
  margin-bottom: 95px;
}

.portfolio-item {
  padding: 20px 20px 40px 20px;
  border-radius: 10px;
}

.portfolio-image {
  margin-bottom: 40px;
  display: block;
  cursor: pointer;
}

.portfolio-image img {
  width: 100%;
}

.portfolio-category {
  font-size: 14px;
  color: #6a727f;
  cursor: pointer;
}

.portfolio-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px 0;
}

.portfolio-link {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.portfolio-link:hover {
  background-color: #ffc87a;
}

.partner {
  margin-bottom: 150px;
}

.partner-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 90px 0;
}

.partner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.partner-item:hover {
  opacity: 0.1;
}

.team {
  padding: 150px 0;
  background-color: #f7f8f9;
}

.team-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
  gap: 0 20px;
}

.team-content {
  max-width: 370px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
}

.team-desc {
  font-size: 18px;
  line-height: 1.88889;
  margin-bottom: 50px;
}

.team-link {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team-link:hover {
  background-color: #ffc87a;
}

.team-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

.team-images img {
  border-radius: 10px;
}

.team-img2 {
  margin-top: 30px;
  margin-left: auto;
}

.blog {
  padding: 150px 0;
}

.blog-container {
  max-width: 1230px;
}

.blog-header {
  max-width: 560px;
  margin: 0 auto 100px;
  text-align: center;
}

.blog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: none;
      flex-wrap: none;
}

.blog-item {
  padding: 15px;
  border-radius: 10px;
}

.blog-image {
  margin-bottom: 40px;
  display: block;
}

.blog-image img {
  width: 100%;
}

.blog-category {
  color: #6a727f;
  cursor: pointer;
}

.contact {
  padding: 150px 0;
  background-image: url(../img/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-container {
  max-width: 600px;
}

.contact-header {
  margin: 0 auto 100px;
  text-align: center;
}

.contact-heading {
  font-weight: 400;
}

.contact-heading, .contact-desc {
  color: #fff;
}

.contact-field {
  padding: 20px 30px;
  display: block;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 30px;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.contact-field::-webkit-input-placeholder {
  color: #fff;
}

.contact-field::-moz-input-placeholder {
  color: #fff;
}

.contact-field:focus {
  border-color: #fff;
}

.contact-area {
  line-height: 1.55;
  resize: none;
  min-height: 100px;
  border-radius: 4px;
}

.footer-top {
  padding: 150px 0 110px;
  background: #282f3a;
}

.footer-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
  color: #fff;
}

.footer-logo {
  display: inline-block;
  padding-bottom: 40px;
}

.footer-heading {
  color: #fff;
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: bold;
}

.footer-desc {
  font-size: 16px;
  margin-bottom: 40px;
}

.footer-links {
  list-style: none;
}

.footer-item {
  margin-bottom: 30px;
}

.footer-link {
  display: inline-block;
  color: #6a727f;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer-link:hover {
  color: #fff;
}

.footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
}

.footer .social-item {
  color: #393e46;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer .social-item:hover {
  color: #fff;
}

.footer-info {
  list-style: none;
  margin-bottom: 40px;
}

.footer-info li {
  margin-bottom: 15px;
  color: #6a727f;
}

.footer-bottom {
  background-color: #222b36;
}

.footer-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-rocket {
  color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #6761e6;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 999;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-transform: translateX(120%);
      -ms-transform: translateX(120%);
          transform: translateX(120%);
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  will-change: transform;
}

.menu.is-active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu-close {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: none;
      flex-wrap: none;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu-close:hover {
  background-color: #f7f8f9;
  color: #ffc87a;
}

.menu-list {
  list-style: none;
  height: 100%;
  padding: 70px 20px 20px;
}

.menu-item {
  margin-bottom: 10px;
}

.menu-link {
  display: block;
  padding: 15px;
  text-transform: capitalize;
  color: #393e46;
  border-radius: 6px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.menu-link:hover {
  color: #fff;
  background-color: #4944f2;
  font-weight: bold;
}

.menu-phone {
  padding: 15px;
  color: #393e46;
}

.menu-phone a {
  color: inherit;
  font-weight: bold;
}

.menu-toggle {
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 100px;
  }
  .hero-caption {
    font-size: 40px;
  }
  .hero-heading {
    font-size: 100px;
  }
  .portfolio {
    margin-bottom: 100px;
  }
  .portfolio-list {
    gap: 0 20px;
    margin-bottom: 50px;
  }
  .portfolio-column {
    gap: 30px 0;
  }
  .partner {
    margin-bottom: 50px;
  }
  .partner-item {
    padding: 0 20px;
  }
  .team {
    padding: 50px 0;
  }
  .team-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .team-content {
    max-width: inherit;
    text-align: center;
  }
  .team-heading, .team-desc {
    margin-bottom: 20px;
  }
  .team-link {
    margin-bottom: 50px;
  }
  .blog {
    padding: 100px 0;
  }
  .blog-header {
    margin-bottom: 60px;
  }
  .blog-image {
    margin-bottom: 20px;
  }
  .contact {
    padding: 100px 0;
  }
  .footer-top {
    padding: 100px 0 60px;
  }
  .footer-main {
    gap: 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .header-phone {
    display: none;
  }
  .header-navigation {
    gap: 0 30px;
  }
  .hero-caption {
    font-size: 30px;
  }
  .hero-heading {
    font-size: 80px;
  }
  .portfolio-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 50px 0;
  }
  .portfolio-item {
    padding: 10px;
  }
  .portfolio-column {
    gap: 30px 0;
  }
  .portfolio-image {
    margin-bottom: 20px;
  }
  .portfolio-image img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .partner-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 50px 0;
  }
  .partner-item {
    padding: 0 25px;
  }
  .blog {
    padding: 50px 0;
  }
  .blog-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blog-item {
    margin-bottom: 50px;
  }
  .contact {
    padding: 50px 0;
  }
  .contact-header {
    margin-bottom: 50px;
  }
  .footer-top {
    padding: 50px 0 10px;
  }
  .footer-main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 30px 0;
  }
  .footer-desc, .footer-item {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .hero-caption {
    font-size: 20px;
  }
  .hero-heading {
    font-size: 50px;
    margin-bottom: 10px;
  }
  .hero-link {
    font-size: 12px;
  }
}
