.banner {
  margin: 0 auto;
  padding: 15rem 0;
  &__container {
    max-width: 80rem;
    text-align: center;
  }
  &__heading {
    font-size: 7rem;
    color: $text-color;
    font-weight: 700;
  }
  &__desc {
    font-size: 2rem;
    line-height: 1.5;
    margin: 3rem 0 4rem 0;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 2rem;
    font-weight: 500;
    color: $text-color;
    .btn {
      margin: 1rem;
      &-border {
        border: 1px solid currentColor;
        border-radius: 5rem;
      }
      &-primary {
        background-color: $color-primary;
        border-radius: 5rem;
      }
      &-shadow {
        box-shadow: 0px 10px 30px -5px $color-primary;
      }
    }
  }
}
