.blog {
  padding: 150px 0;
  &-container {
    max-width: 1230px;
  }
  &-header {
    max-width: 560px;
    margin: 0 auto 100px;
    text-align: center;
  }
  &-list {
    @include flex(center, space-between, none);
    // gap: 0 10px;
  }
  &-item {
    padding: 15px;
    border-radius: 10px;
  }
  &-image {
    margin-bottom: 40px;
    display: block;
    img {
      width: 100%;
    }
  }
  &-category {
    color: $gray-light;
    cursor: pointer;
  }
}
