.contact {
  padding: 150px 0;
  background-image: url(../img/contact-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &-container {
    max-width: 600px;
  }
  &-header {
    margin: 0 auto 100px;
    text-align: center;
  }
  &-heading {
    font-weight: 400;
  }
  &-heading,
  &-desc {
    color: #fff;
  }

  &-field {
    padding: 20px 30px;
    display: block;
    width: 100%;
    border: 1px solid rgba(#fff, 0.5);
    border-radius: 4px;
    background-color: transparent;
    margin-bottom: 30px;
    color: #fff;
    transition: all 0.2s linear;
    &::-webkit-input-placeholder {
      color: #fff;
    }
    &::-moz-input-placeholder {
      color: #fff;
    }
    &:focus {
      border-color: #fff;
    }
  }
  &-area {
    line-height: 1.55;
    resize: none;
    min-height: 100px;
    border-radius: 4px;
  }
}
