.footer {
  &-top {
    padding: 150px 0 110px;
    background: $gray-dark;
  }
  &-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 30px;
    color: #fff;
  }
  &-logo {
    display: inline-block;
    padding-bottom: 40px;
  }
  &-heading {
    color: #fff;
    font-size: 18px;
    margin-bottom: 40px;
    font-weight: bold;
  }
  &-desc {
    font-size: 16px;
    margin-bottom: 40px;
  }
  &-links {
    list-style: none;
  }
  &-item {
    margin-bottom: 30px;
  }
  &-link {
    display: inline-block;
    color: $gray-light;
    transition: all 0.2s linear;
    &:hover {
      color: #fff;
    }
  }
  .social {
    display: flex;
    align-items: center;
    gap: 0 30px;
    &-item {
      color: $gray;
      cursor: pointer;
      transition: all 0.2s linear;
      &:hover {
        color: #fff;
      }
    }
  }
  &-info {
    list-style: none;
    margin-bottom: 40px;
    li {
      margin-bottom: 15px;
      color: $gray-light;
    }
  }
  &-bottom {
    background-color: $gray-darker;
  }
  &-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &-rocket {
    color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $blue-light;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 20px;
    transform: translateY(-50%);
  }
}
