.header {
  &-main {
    @include flex(center, space-between, none);
    padding: 40px 0;
  }
  &-navigation {
    @include flex(center, none, none);
    gap: 0 60px;
    i {
      font-size: 25px;
      cursor: pointer;
    }
  }
  &-phone {
    color: $gray;
    font-weight: 300;
    a {
      color: inherit;
      font-weight: 600;
      margin-left: 15px;
    }
  }
}
