.hero {
  position: relative;
  margin-bottom: 200px;
  &-image {
    margin-left: auto;
    width: 70%;
  }
  &-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &-caption {
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  &-heading {
    font-size: 150px;
    font-weight: 800;
    margin-bottom: 40px;
  }
  &-link {
    font-size: 18px;
    text-decoration: underline;
    color: $gray-light;
    font-weight: 600;
    display: inline-block;
  }
}
