.menu {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #fff;
  z-index: 999;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateX(120%);
  transition: all 0.2s linear;
  //   báo cho trình duyệt biết có transform để chạy mượt hơn
  will-change: transform;
  &.is-active {
    transform: translateX(0);
  }

  &-close {
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    @include flex(center, center, none);
    transition: all 0.2s linear;
    &:hover {
      background-color: $gray-lighter;
      color: $color-primary;
    }
  }

  &-list {
    list-style: none;
    height: 100%;
    padding: 70px 20px 20px;
  }

  &-item {
    margin-bottom: 10px;
  }

  &-link {
    display: block;
    padding: 15px;
    text-transform: capitalize;
    color: $gray;
    border-radius: 6px;
    transition: all 0.2s linear;
    &:hover {
      color: #fff;
      background-color: $blue-color;
      font-weight: bold;
    }
  }
  &-phone {
    padding: 15px;
    color: $gray;
    a {
      color: inherit;
      font-weight: bold;
    }
  }

  &-toggle {
    cursor: pointer;
  }
}
