.partner {
  margin-bottom: 150px;
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px 0;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      opacity: 0.1;
    }
  }
}
