.portfolio {
  margin-bottom: 200px;
  &-container {
    max-width: 1240px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 50px;
    margin-bottom: 95px;
  }
  &-item {
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
  }
  &-image {
    margin-bottom: 40px;
    display: block;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  &-category {
    font-size: 14px;
    color: $gray-light;
    cursor: pointer;
  }
  &-column {
    display: flex;
    flex-direction: column;
    gap: 45px 0;
  }
  &-link {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s linear;
    &:hover {
      background-color: $color-primary;
    }
  }
}
