.team {
  padding: 150px 0;
  background-color: $gray-lighter;
  &-main {
    @include flex(center, space-between, none);
    gap: 0 20px;
  }
  &-content {
    max-width: 370px;
    flex-shrink: 0;
    width: 100%;
  }

  &-desc {
    font-size: 18px;
    line-height: lineH(34, 18);
    margin-bottom: 50px;
  }
  &-link {
    transition: all 0.2s linear;
    &:hover {
      background-color: $color-primary;
    }
  }

  &-images {
    display: flex;
    align-items: center;
    gap: 0 30px;
    img {
      border-radius: 10px;
    }
  }
  &-img2 {
    margin-top: 30px;
    margin-left: auto;
  }
}
