$primary-font: "Open sans", sans-serif;
$secondary-font: "Raleway", sans-serif;

$color-primary: #ffc87a;
$text-color: #1a2b5f;
$gray: #393e46;
$gray-light: #6a727f;
$gray-lighter: #f7f8f9;
$gray-dark: #282f3a;
$gray-darker: #222b36;
$blue-color: #4944f2;
$blue-light: #6761e6;

@mixin flex($align, $just, $wrap) {
  display: flex;
  align-items: $align;
  justify-content: $just;
  flex-wrap: $wrap;
}
