html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1;
  color: $gray-light;
  max-width: 1920px;
  margin: 0 auto;
}

input,
button,
textarea,
select {
  font-family: $primary-font;
  font-size: 14px;
  outline: none;
  border: 0;
}

input {
  line-height: normal;
}

section[id] {
  scroll-margin-top: 30px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.second-font {
  font-family: $secondary-font;
}
h1,
h2,
h3,
h4 {
  color: $gray;
}
a {
  list-style: none;
}

.heading {
  font-size: 36px;
  line-height: lineH(56, 36);
  font-weight: 800;
  font-family: $secondary-font;
  margin-bottom: 30px;
}
.title {
  font-size: 22px;
  font-weight: 800;
  font-family: $secondary-font;
  line-height: lineH(35, 22);
  margin-bottom: 20px;
  color: $gray;
  display: block;
}
.text {
  font-size: 18px;
  line-height: lineH(34, 18);
}
.text--small {
  font-size: 14px;
}

.item {
  transition: all 0.2s linear;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 10px;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 25px;
  }
  .title {
    font-size: 20px;
  }
}
