.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: $primary-font;
  height: 55px;
  padding-left: 70px;
  padding-right: 70px;
  border-radius: 6px;
  background-color: transparent;
  &--primary {
    background-color: $blue-color;
  }
  &--secondary {
    background-image: linear-gradient(to right, #f475a0, #feac3d);
  }
}
