@media screen and (max-width: 1023px) {
  .hero {
    margin-bottom: 100px;
    &-caption {
      font-size: 40px;
    }
    &-heading {
      font-size: 100px;
    }
  }

  .portfolio {
    margin-bottom: 100px;
    &-list {
      gap: 0 20px;
      margin-bottom: 50px;
    }
    &-column {
      gap: 30px 0;
    }
  }

  .partner {
    margin-bottom: 50px;
    &-item {
      padding: 0 20px;
    }
  }

  .team {
    padding: 50px 0;
    &-main {
      flex-direction: column;
    }
    &-content {
      max-width: inherit;
      text-align: center;
    }
    &-heading,
    &-desc {
      margin-bottom: 20px;
    }
    &-link {
      margin-bottom: 50px;
    }
  }

  .blog {
    padding: 100px 0;
    &-header {
      margin-bottom: 60px;
    }
    &-image {
      margin-bottom: 20px;
    }
  }

  .contact {
    padding: 100px 0;
  }

  .footer {
    &-top {
      padding: 100px 0 60px;
    }
    &-main {
      gap: 0 15px;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    &-phone {
      display: none;
    }
    &-navigation {
      gap: 0 30px;
    }
  }

  .hero {
    &-caption {
      font-size: 30px;
    }
    &-heading {
      font-size: 80px;
    }
  }

  .portfolio {
    &-list {
      grid-template-columns: 1fr;
      gap: 50px 0;
    }
    &-item {
      padding: 10px;
    }
    &-column {
      gap: 30px 0;
    }
    &-image {
      margin-bottom: 20px;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .partner {
    &-list {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px 0;
    }
    &-item {
      padding: 0 25px;
    }
  }

  .blog {
    padding: 50px 0;
    &-list {
      flex-wrap: wrap;
    }
    &-item {
      margin-bottom: 50px;
    }
  }

  .contact {
    padding: 50px 0;
    &-header {
      margin-bottom: 50px;
    }
  }

  .footer {
    &-top {
      padding: 50px 0 10px;
    }
    &-main {
      grid-template-columns: 1fr;
      gap: 30px 0;
    }
    &-desc,
    &-item {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 479px) {
  .hero {
    &-caption {
      font-size: 20px;
    }
    &-heading {
      font-size: 50px;
      margin-bottom: 10px;
    }
    &-link {
      font-size: 12px;
    }
  }
}
